.App {
  text-align: right;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-intro {
  width: 40%;
}

.widget {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 1rem 0;
}

.widget-title {
  font-size: 1.14rem;
  color: var(--dark-gray);
  margin-right: 1.5rem;
  line-height: 2;
}

.separator {
  height: 2px;
  background: var(--light-gray);
  border: none;
}

.primary {
  color: var(--success-primary);
  border: 3px solid var(--success-primary);
  border-radius: 40px;
  height: 30px;
}